
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia del 80% */
  position: fixed; /* Para que el header quede fijo en la parte superior */
  width: 100%;
  top: 0;
  left: 0;
  margin: 0%;
  z-index: 100; /* Asegura que esté por encima del resto del contenido */
}




.separacion{
  padding-top: 3%;
  background-color: #fff;
  height: 650px;
  width: 100%;
  background-image: url("./img/laureles_header.jpg");
  background-size: cover; /* Para que la imagen cubra toda la pantalla */
  margin-top: -18px;
}

.info_medio{
  box-shadow: 0px 12px 18px -8px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  height: 15%;
  width:100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyAgZmlsbD0icmdiYSgwLDEzMywxOTAsMC4xNSkiIGhlaWdodD0iODBweCIgd2lkdGg9IjgwcHgiIHZpZXdCb3g9IjAgMCA4MCA4MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCw4VjBIOEE4LDgsMCwwLDEsMCw4Wk04MCw4VjBINzJBOCw4LDAsMCwwLDgwLDhaTTAsNzJ2OEg4QTgsOCwwLDAsMCwwLDcyWk00MCwzMmE4LDgsMCwxLDAsOCw4QTgsOCwwLDAsMCw0MCwzMlpNODAsNzJhOCw4LDAsMCwwLTgsOGg4WiIvPjwvc3ZnPg==);
  background-size: 10px auto;
  font-size: 20px;
  margin-bottom: 50px;
}

.apartado_descanso {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #eaf0f6;
  border-radius: 10px;
  margin-top: 20px;
}

.caja_descanso {
  flex: 1;
  margin-left: 100px;
  max-width: 400px;
  padding-right: 20px;
}

.informacion_descanso h2 {
  color: #2c3e50;
  font-size: 24px;
  margin-bottom: 10px;
}

.informacion_descanso p {
  color: #34495e;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 10px;
}

.tripadvisor-awards {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.tripadvisor-awards img {
  width: 50px;
  height: auto;
  margin-left: 60px;
}

.video_descanso {
  margin-top: 10px;
  position: relative;
  flex: 1;
}

.imagen_cabana {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.play-button:hover {
  color: #f39c12;
}




img{
  height: 50px;
  width: auto;
}



body {
  background-size: cover; /* Para que la imagen cubra toda la pantalla */
  background-position: center;
  height: 96vh;
  margin-left: 0;
  margin-right: 0;
}
